<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <table style="width: 100%; max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; border: 1px solid #ddd; padding: 20px;">
        <tr>
            <td style="text-align: center; padding: 20px; background-color: #f4f4f4;">
                <h2>Confirm Email ID</h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1>Welcome to Our Service!</h1>
                <p>Dear user, 
                </p>{{.Name}},</p>
                <p>Thank you for signing up with us. Please click the button below to confirm your email address and complete the registration process:</p>
                <p>The link will expire in 15 minutes from time of sending.</p>
                <p> Please fill out the form in the attached link to verify your profile.</p>
                <a href="{{.Signup_Confirmation_Link}}" class="button">Confirm Email</a>
                <a href="{{.Resend_Email_Link}}" class="button">Resend Email</a>
                <p>If you did not sign up for this account, you can ignore this email.</p>
                <p>Best regards,<br>Team Example</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 10px; background-color: #f4f4f4;">
                <p>&copy; 2024 Your Company Name. All rights reserved.</p>
            </td>
        </tr>
    </table>
</body>
</html>