<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    <link rel="stylesheet" href="/static/styles/student.css">
</head>
<body>
    <div class="container">
        <h1 id="pageHeading">Completed Tests</h1>

        <div class="tabs">
            <button id="testsTab" class="tab active">Tests</button>
            <button id="interviewsTab" class="tab">Interviews</button>
        </div>


        <div id="dataList"></div>

        <div class="spinner" id="spinner" style="display: none;">
        </div>

        <div id="paging" class="paging"> 
            <button id="prev-btn" class="nav-btn prev-btn"> < Prev </button>
            <button id="next-btn" class="nav-btn next-btn"> Next > </button>
        </div>
    </div>
<script>

    let alldata = [];
    let savedPages = {};
    let searched = [];

    let dlen = 0;
    let pageSize = 0;
    let lastIndex = 0;
    let currPage = 0;

    let activeTemp = testTemp;
    
    const dataList = document.getElementById('dataList');

    const prevbtn = document.getElementById('prev-btn');
    const nextbtn = document.getElementById('next-btn');

    const tabs = document.querySelectorAll('.tab');
    const testTb = document.getElementById('testsTab');
    const intTb = document.getElementById('interviewsTab');

    const heading = document.getElementById('pageHeading');

    function fetchData(tab = 'tests') {
        showSpinner();
        const url = `/laa/student/completeddata?tab=${tab}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const {Data} = data;
                alldata = Data;
                hideSpinner();
                if (alldata == null) {
                    dataList.innerHTML = `
                        <div class="no-data">
                            No completed events at the moment. Please check back later.
                        </div>
                    `;
                    return;
                } else {
                    searched = alldata;
                    middle();
                }
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function intTemp(job) {
        return `
            <div class="card">
                <div class="title">Interview ID : ${job.InterviewID}</div>
                <div class="details"><strong>${job.Title} @ ${job.CompanyName}</strong></div>
                <div class="details">
                    <p><strong>Application ID:</strong> ${job.ApplicationID}</p>
                    <p><strong>Time:</strong> ${job.DateTime}</p>
                    <p><strong>Extras(Feedback):</strong> ${job.Extras}</p>
                </div>
            </div>
        `;
    }
    function testTemp(job) {
        return `
            <div class="card">
                <div class="title">Result ID : ${job.ResultID}</div>
                <div class="details"><strong>${job.Title} @ ${job.CompanyName}</strong></div>

                <div class="details">
                    <p><strong>Start Time:</strong> ${job.StartTime}</p>
                    <p><strong>End Time:</strong> ${job.EndTime}</p>
                </div>
                <button class="btn" 
                    onclick="applyToJob(${job.JobID}, this)" 
                    ${job.ActiveStatus ? '' : 'disabled'} 
                    style="background-color: ${job.ActiveStatus ? '#6C63FF' : '#d3d3d3'}; color: ${job.ActiveStatus ? '#fff' : '#000'};">
                    ${job.ActiveStatus ? 'Result' : 'Result will be available soon!'}
                </button>
            </div>
        `;
    }

    // TODO: add the showResult function

    function setActiveTemplate(template) {
        activeTemp = template;
    }


    function listdata() {
        if (searched.length != 0) {
            let i = 0;
            for (i = lastIndex; i < dlen; i++) {
                if (pageSize == 0) {
                    break;
                }

                let job = searched[i]; 
                const card = activeTemp(job);
                dataList.innerHTML += card;
                pageSize--;
            }
            lastIndex = i;
        }
    }

    function pagination() {
    
        if (searched != null) {
            dlen = searched.length;
        }

        prevbtn.onclick = function () {
            currPage -= 1;
            dataList.innerHTML = savedPages[currPage].Template;
            pageSize = 10 - savedPages[currPage].Length;
            displaybtn();
        }

        nextbtn.onclick = function () {
            currPage += 1;
            pageSize = 10; // this defines the number of cards per page
            
            if (savedPages[currPage] != null)  {
                dataList.innerHTML = savedPages[currPage].Template;
                pageSize = 10 - savedPages[currPage].Length;
            } else {
                dataList.innerHTML = ``;

                if (searched != null && dlen > lastIndex) {
                    listdata();
                    savedPages[currPage] = {
                        Template: dataList.innerHTML,
                        Length: (10 - pageSize)
                    }
                }
            }
            displaybtn();
        }

    }

    function displaybtn() {
        prevbtn.style.visibility = currPage <= 1 ? 'hidden' : 'visible';

        if (pageSize > 0) {
            nextbtn.style.visibility = 'hidden';
            dataList.innerHTML += `
                <div class="no-data">
                    Thats all for now !
                </div>
            `;
        } else {
            nextbtn.style.visibility = 'visible';
        }
    }


    function showSpinner() {
        document.getElementById('spinner').style.display = 'block'; 
    }

    // Function to hide the spinner
    function hideSpinner() {
        document.getElementById('spinner').style.display = 'none'; 
    }

    // Function to apply filters
    function middle() {
        pagination();
        lastIndex = currPage = 0;
        savedPages = {};
        nextbtn.click();
    }

    fetchData();


    testTb.addEventListener('click', () => {
        tabs.forEach(t => t.classList.remove('active'));
        testTb.classList.add('active');
        setActiveTemplate(testTemp);
        fetchData('tests');
        heading.innerHTML = `Completed Tests`;
    });
    intTb.addEventListener('click', () => {
        tabs.forEach(t => t.classList.remove('active'));
        intTb.classList.add('active');
        setActiveTemplate(intTemp);
        fetchData('interviews');
        heading.innerHTML = `Completed Interviews`;
    });
</script>

</body>
</html>
