<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/static/styles/student.css">

    <style> 
        .description {
            display: flex;
            justify-content: space-between;
            font-size: 0.9em;
            color: #535252;
            margin-bottom: 4px;
        }
        .description label {
            flex:0.5;
            text-align: left;
        }
        .description span {
            flex: 3;
            text-align: left;
        }
        

        .instructions {
            display:block; 
            font-size: 0.9em;
            color: #ff0000;
            margin: 10px 10px; 
            line-height: 1.8;
        }

        .image {
            width: auto;  
            max-width: 50%;
            height: auto; 
            border: 2px solid #ccc;
            border-radius: 10px;  
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .bottom-nav {
            position: fixed;     
            bottom: 0;              
            left: 0;      
            width: 100%;
            background-color: #ffffff;
            display: none;
            justify-content: center;
            padding: 10px 0;
            gap: 5%;
        }
        

        .submit-btn {
            margin: 0;
            background: #ff3c00;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            width: 100%;
            transition: background-color 0.3s;
        }
        .submit-btn:hover {
            background: #94d991;
        }


        .details {
            display:block; 
            font-size: 0.8em;
            color: #555;
        }
 

        .details input,
        .details textarea {
            position: static;
            width: auto;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
            margin-top: 1px;
            margin-bottom: 8px;
            background-color: #f7f7f7;
            vertical-align: middle;
        }

    </style>
</head>
<body>

    <div id="q-container" class="container">
    </div>

    <div id="navigator" class="bottom-nav">
        <button id="prev-btn" class="btn">Previous</button>
        <button id="next-btn" class="btn">Next</button>
    </div>

    <div class="spinner" id="spinner" style="display: none;">
    </div>

    <div class="r-container" id="right-nav">
        <div class="card">
            <button id="submit-btn" onclick="submitTest()" class="submit-btn">Submit</button>
        </div>
    </div>
    <div class="l-container" id="left-nav">
        <div class="card">
            <label id="timer" class="title">Timer: 00:00 </label>
        </div>
    </div>


    <script>
        const appList = document.getElementById('q-container');
        const prevbtn = document.getElementById('prev-btn');
        const nextbtn = document.getElementById('next-btn');
        
        prevbtn.onclick = function() {
            recordResponce();
            fetchQuestion(prevId);
        }; 

        nextbtn.onclick = function() {
            recordResponce();
            fetchQuestion(nextId);
        };

        let secLeft = -1;
        let errorMessage = false;        

        let nextId = "cover";
        let prevId = "";
        let currId = "";
        let timeTaken = 0;

        function fetchQuestion(itemID) {
            showSpinner();
            const url = `/laa/student/taketestdata?testid={{.TestID}}&itemid=${itemID}`;
            return fetch(url, {
                method: 'POST', 
                headers: {'Content-Type': 'application/json' // Specify that you're sending JSON
                },
                body: JSON.stringify(response)})
                .then(response => {
                    return response.json();
                }) 
                .then(data => {
                    hideSpinner();

                    if (data.Message) {
                        alert(data.Message);
                        window.location.href = "/laa/student/dashboard";
                        errorMessage = true;
                        return;
                    }
                    response = {};
                    
                    appList.innerHTML = ''; // Clear existing html
                    const item = data.Item;
                    
                    nextId = data.NextId;
                    prevId = data.PrevId;
                    currId = item.itemId;
                    
                    console.log(item);
                    
                    let path = item;
                    let template = ``;
                    template += `
                        <div class="card">
                    `;
                    if (path.questionItem) {
                        // it is a question
                        if (path.title) {
                            template += `
                                <div class="title">
                                    <p>Question: ${path.title}</p>
                                </div>
                            `;
                        }
                        
                        if (path.description) {
                            template += `
                                <div class="description"> 
                                    <p>${path.description}</p>
                                </div>
                            `;
                        }

                        let answer = path.questionItem.question
                        // if it contains an image
                        if (path.questionItem.image) {
                            let imageStr = path.questionItem.image.contentUri;

                            template += `
                                <div class="image">
                                    <img src="data:image/jpeg;base64,${imageStr}" style="max-width: 100%; height: auto;">
                                </div>
                            `;
                        }
                        
                        const temp = getTemplate();
                        if (temp) {
                            template += temp;
                        } else {


                        template += `
                            <div id="ans" class="details">
                        `;
                        // types of questions
                        if (answer.textQuestion) {
                    
                            if (answer.textQuestion.paragraph) {
                                // it is a paragraph form text answer
                                template += `
                                    <div>
                                        <textarea placeholder="Long Answer"></textarea>
                                    </div>
                                `;
                            } else {
                                // it is a short form text answer
                                template += `
                                    <div>
                                        <textarea placeholder="Short Answer"></textarea>
                                    </div>
                                `;
                            }
                        } else if (answer.choiceQuestion) {
                            // it is choice answer
                            let choiceType = answer.choiceQuestion.type;
                            let options = answer.choiceQuestion.options;
        
                            if (choiceType == "RADIO") {
                                // it is of RADIO type
                                for (const option of options) {
                                    template += `
                                        <input type="radio" value="${option.value}">${option.value}
                                        <br>
                                    `;
                                }
                            } else if (choiceType == "CHECKBOX") {
                                // it is of CHECKBOX type
                                for (const option of options) {
                                    template += `
                                        <input type="checkbox" value="${option.value}">
                                        ${option.value}
                                        <br>
                                    `;
                                }
                            } else if (choiceType == "DROP_DOWN") {
                                // it is of DROP_DOWN type
                                template += `
                                        <select>
                                    `;
                                for (const option of options) {
                                    template += `
                                            <option value="${option.value}">${option.value}</option>                                            
                                    `;
                                }
                                template += `
                                        </select>
                                    `;
                            }
                        }
                        template += `
                            </div>
                        `;
                    } 
                    }
                    else if (path.videoItem) {
                        // it is a video
                        if (path.title) {
                            let title = path.title; // we have the video title
                            template += `
                                <div class="title">
                                    <p>Title: ${path.title}</p>
                                </div>
                            `;
                        }
                        let caption = path.videoItem.caption;
                        if (caption) {
                            template += `
                                <div class="description"> 
                                    <p>${caption}</p>
                                </div>
                            `;
                        }
                        if (path.videoItem.video) {
                            let youtubeUri = path.videoItem.video.youtubeUri;
                            template += `
                                <a href="https://www.youtube.com/watch?v=dXl2NdlmeIE" target="_blank" rel="noopener noreferrer">
                                    Watch this video on YouTube
                                </a>
                            `;
                        }

                    } 
                    else if (path.imageItem) {
                        // it is a image
                        let title = path.title // we have the image title
                        if (title) {
                            template += `
                                <div class="title">
                                    <p>Title: ${title}</p>
                                </div>
                            `;
                        }
                        
                        if (path.imageItem.image) {
                            let altText = path.imageItem.image.altText;
                            if (altText) {
                                template += `
                                    <div class="description"> 
                                        <p>${altText}</p>
                                    </div>
                                `;
                            }
                            let contentUri = path.imageItem.image.contentUri;
                            if (contentUri) {
                                template += `
                                    <div class="image">
                                        <img src="data:image/jpeg;base64,${contentUri}" style="max-width: 100%; height: auto;">
                                    </div>
                                `;
                            }
                        }

                    } 
                    else {
                        // default case
                    }

                    template += `        
                        </div>
                    `;

                    appList.innerHTML += template;



                    if (!data.NextId && data.PrevId) {
                        nextbtn.style.display = 'none';
                        prevbtn.style.display = 'block';
                    } else if (!data.PrevId && data.NextId) {
                        prevbtn.style.display = 'none';
                        nextbtn.style.display = 'block';
                    } else if (data.PrevId && data.NextId) {
                        nextbtn.style.display = 'block';
                        prevbtn.style.display = 'block';
                    }
                    document.getElementById('navigator').style.display = 'flex';

                    secLeft = data.TTL;
                    timeTaken = secLeft;

                    return;
                })
                .catch(error => console.error('Error fetching question:', error));
        }

        function showSpinner() {
            document.getElementById('spinner').style.display = 'block'; 
        }
        function hideSpinner() {
            document.getElementById('spinner').style.display = 'none'; 
        }
        
        // display the metadata, instructions and 'Start Test' button
        function metaData() {
            appList.innerHTML = '';
            let template = ``;

            template += `
                <div id="card" class="card">
                    <div id="title" class="title">
                        <label>{{.TestName}}</label>
                    </div>
                    <div id="description" class="description">
                        <label>{{.TestDescription}}</label>
                    </div>
                </div>
                <div id="card" class="card">
                    <div id="title" class="description">
                        <label><strong>Duration:</strong> </label>
                        <span>{{.TestDuration}} Mins</span>
                    </div>
                    <div id="title" class="description">
                        <label><strong>End Time:</strong></label>
                        <span>{{.TestEndTime}}</span>
                    </div>
                    <div id="title" class="description">
                        <label><strong>Ques. Count:</strong></label>
                        <span>{{.QCount}}</span>
                    </div>
                    <div id="title" class="description">
                        <label><strong>Type:</strong></label>
                        <span>{{.TestType}}</span>
                    </div>
                    <br>
                    <div id="title" class="description">
                        <label><strong>Instructions:</strong></label>
                    </div>
                    <div id="details" class="instructions">
                        <label>1) Do not refresh or leave the page during the test. Doing so will submit the test immediately.</label><br>
                        <label>2) Time will begin as soon as you click the "Start Test" button.</label><br>
                        <label>3) Click "Submit" after completing the test.</label><br>
                    </div>

                    <button id="prev-btn" class="btn" onclick="inter()">Start Test</button>
                </div>
            `;
            appList.innerHTML += template;
        }
        
        // record response for each question individually
        let response = {};
        let savedTemplate = {};
        function recordResponce() {

            let answers = [];
            const d = document.getElementById('ans');
            if (d) {
                const inputs = d.querySelectorAll('input');
                if (inputs) {
                    inputs.forEach(inp => {
                        if (inp.checked) {
                            inp.setAttribute('checked', 'checked');
                            answers.push(inp.value);
                        }
                    });
                }

                const select = d.querySelector('select');
                if (select) {
                    const selects = select.selectedOptions
                    if (selects) {
                        Array.from(selects).forEach(inp => {
                            inp.setAttribute('selected', 'selected');
                            answers.push(inp.value);
                        });
                    }
                }

                const textarea = d.querySelector('textarea');
                if (textarea) {
                    const text = textarea.value;
                    textarea.innerHTML = text;
                    answers.push(text);
                }

                response = {
                    ItemID: currId,
                    Response: answers,
                    TimeTaken: timeTaken - secLeft,
                }
                console.log(response);
                
                savedTemplate[currId] = {
                    Template: d.outerHTML
                };
            }
        }

        function getTemplate() {
            const temp = savedTemplate[currId];
            if (temp) {
                return temp.Template;
            }
            return null;
        }

        function inter() {
            fetchQuestion('cover').then(() => {
                if (!errorMessage) {
                    const rnav =  document.getElementById('right-nav');
                    const lnav =  document.getElementById('left-nav');

                    rnav.style.display = 'block';
                    lnav.style.display = 'block';

                    timer();
                }
            })
        }

        function timer() {
            const timerElem = document.getElementById("timer");
            let mins;
            let secs;
            int = setInterval(function () {
                if (secLeft <= 0) {
                    clearInterval(int);
                    removeLocks();
                    submitTest();
                    // window.location.href = "/laa/student/dashboard";
                }
                else {
                    mins = Math.floor(secLeft / 60);
                    secs = (secLeft % 60);
                    timerElem.textContent = `${mins} : ${secs} `;
                    secLeft--;
                }
            }, 1000);
 
            return;
        }


        // submit the recorded responses
        function submitTest() { 
            recordResponce();

            if (secLeft != 0) {
                if (!confirm("Submit test. This cannot be undone.")) {
                    return;
                }
            }

            showSpinner();
            const url = `/laa/student/taketestdata?testid={{.TestID}}&itemid=${currId}`;
            fetch(url, {
                method: 'POST', 
                headers: {'Content-Type': 'application/json'
                },
                body: JSON.stringify(response)})
                .then(response => {
                    return response.json();
                }) 
                .then(data => {
                    if (data.Type == "OBJECT_EXISTS") {
                        alert(data.Message);
                    }
                })
                .then(() => {
                    const url = "/laa/student/submittest?testid={{.TestID}}";
                    fetch(url)
                    .then(response => { 
                        if (response.ok) {
                            alert("The test has been submitted. The result ID will be sent via email.")
                            window.location.href = "/laa/student/dashboard";
                        } else {
                            alert("Error: " + response.json().Message);
                        }
                    })
                    .catch(error => alert(error.message));
                });
        }


        function safetyLocks() {
            window.addEventListener("beforeunload", function(event) {
                event.preventDefault();
                event.returnValue = '';
                submitTest();
            });
        }
        function removeLocks() {
            window.removeEventListener("beforeunload", BeforeUnloadEvent);
        }
      
        // initialize the metadata view
        metaData();
        safetyLocks(); // TODO:

    </script>
</body>
</html>
