<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="/static/styles/student.css">
</head>

<body>
    <div class="container">
        <h1 id="pageHeading">Upcoming Tests</h1>

        <div class="tabs">
            <button id="testsTab" class="tab active">Tests</button>
            <button id="interviewsTab" class="tab">Interviews</button>
        </div>

        <div class="top-nav no-filters">
            <div class="searchbar">
                <input type="text" id="searchBox" placeholder="Search..." />
            </div>
        </div>

        <div id="dataList"></div>

        <div class="spinner" id="spinner" style="display: none;">
        </div>

        <div id="paging" class="paging"> 
            <button id="prev-btn" class="nav-btn prev-btn"> < Prev </button>
            <button id="next-btn" class="nav-btn next-btn"> Next > </button>
        </div>
    </div>

    <script>

        const dataList = document.getElementById('dataList');
        
        const tabs = document.querySelectorAll('.tab');
        const testTb = document.getElementById('testsTab');
        const intTb = document.getElementById('interviewsTab');
        
        const prevbtn = document.getElementById('prev-btn');
        const nextbtn = document.getElementById('next-btn');

        const heading = document.getElementById('pageHeading');

        let alldata = [];
        let savedPages = {};
        let searched = [];

        let dlen = 0;
        let pageSize = 0;
        let lastIndex = 0;
        let currPage = 0;

        let activeTemp = testTemp;

        // Function to fetch job listings from the backend
        function fetchData(eventtype = 'tests') {
            dataList.innerHTML = ''; // Clear existing jobs
            showSpinner();
            const url = `/laa/student/upcomingdata?eventtype=${eventtype}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    hideSpinner();
                    console.log(data);
                    if (data != null) {
                        alldata = [];
                        const {Data} = data;
                        alldata = Data;
                        searched = alldata;
                        if (alldata == null) {
                            dataList.innerHTML = `
                                <div class="no-data">
                                    No upcoming events. Relax !
                                </div>
                            `;
                            alldata = [];
                        } else {
                            middle();
                        }
                        middle();
                    }
                })
                .catch(error => console.error('Error fetching events:', error));
        }

        function intTemp(job) {
            return `
                <div class="card">
                    <div class="title">${job.Title}</div>
                    <div class="details">
                            <p>Interview ID: ${job.InterviewID}</p>
                            <p>Company: ${job.CompanyName}</p>
                            <p>Date: ${job.DateTime}</p>
                            <p>Type: ${job.InterviewsType}</p>
                            <p>Location: ${job.Location}</p>
                            <p>Notes: ${job.Notes}</p>
                    </div>
                </div>
            `;
        }
        
        function testTemp(job) {
            return `
                <div class="card">
                    <div class="title">${job.TestName}</div>
                    <div class="details">
                        <p>Test ID: ${job.TestID}</p>
                        <p>Description: ${job.Description}</p>
                        <p>Company Name: ${job.CompanyName}</p>
                        <p>Duration: ${job.Duration} mins.</p>
                        <p>Job Title: ${job.Title}</p>
                        <p>No. of Questions: ${job.QCount}</p>
                        <p>Last Date: ${job.EndTime}</p>
                        <p>Type: ${job.Type}</p>
                    </div>
                    <button class="btn" onclick="takeTest(${job.TestID}, this)"> Take Test </button>
                </div>
            `;
        }

        function setActiveTemplate(template) {
            activeTemp = template;
        }

        function listdata() {
            if (searched.length != 0) {
                let i = 0;
                for (i = lastIndex; i < dlen; i++) {
                    if (pageSize == 0) {
                        break;
                    }

                    let job = searched[i]; 
                    const card = activeTemp(job);
                    dataList.innerHTML += card;
                    pageSize--;
                }
                lastIndex = i;
            }
        }

        function displaybtn() {
            prevbtn.style.visibility = currPage <= 1 ? 'hidden' : 'visible';

            if (pageSize > 0) {
                nextbtn.style.visibility = 'hidden';
                dataList.innerHTML += `
                    <div class="no-data">
                        Thats all for now !
                    </div>
                `;
            } else {
                nextbtn.style.visibility = 'visible';
            }
        }

        
        function pagination() {
        
            if (searched != null) {
                dlen = searched.length;
            }

            prevbtn.onclick = function () {
                currPage -= 1;
                dataList.innerHTML = savedPages[currPage].Template;
                pageSize = 10 - savedPages[currPage].Length;
                displaybtn();
            }

            nextbtn.onclick = function () {
                currPage += 1;
                pageSize = 10; // this defines the number of cards per page
                
                if (savedPages[currPage] != null)  {
                    dataList.innerHTML = savedPages[currPage].Template;
                    pageSize = 10 - savedPages[currPage].Length;
                } else {
                    dataList.innerHTML = ``;

                    if (searched != null && dlen > lastIndex) {
                        listdata();
                        savedPages[currPage] = {
                            Template: dataList.innerHTML,
                            Length: (10 - pageSize)
                        }
                    }
                }
                displaybtn();
            }
        }

        function middle() {
            pagination();
            lastIndex = currPage = 0;
            savedPages = {};
            nextbtn.click();
        }

        function showSpinner() {
            document.getElementById('spinner').style.display = 'block'; 
        }
        function hideSpinner() {
            document.getElementById('spinner').style.display = 'none'; 
        }

        testTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            testTb.classList.add('active');
            setActiveTemplate(testTemp);
            fetchData('tests');
            heading.innerHTML = `Upcoming Tests`;
        });
        intTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            intTb.classList.add('active');
            setActiveTemplate(intTemp);
            fetchData('interviews');
            heading.innerHTML = `Upcoming Interviews`;
        });

        function takeTest(testID) {
            const URL = `/laa/student/taketest?testid=${testID}`;
            window.location.href = URL;
        }

        // TODO: 
        function search() {
            const query = searchbar.value.toLowerCase();
            if (query == "") {
                searched = alldata;
                middle();
                return;
            }
            const result = alldata.filter(job =>
            Object.values(job).some(val => val.toString().toLowerCase().includes(query)));
        
            searched = result;
            middle();
        }
        const searchbar = document.getElementById('searchBox');
        searchbar.addEventListener('input', search);

        fetchData();
    </script>
</body>

</html>
