<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/static/styles/company.css">
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>

    <style>
        .card {
            position: relative; 
        }
        .graph-item {
            position: static;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 500px;
        }

        .more-graphs {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; 
            height: 80%; 

            background: linear-gradient(to top,rgba(0, 0, 0, 1.0), transparent 100%);

            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }

        .more-graphs label {
            font-size: 1.5em;
            width: auto;
            margin: 1% 5%;
            font-weight: 700;
            color: white;
            cursor: pointer;
        }
        .more-graphs p {
            font-size: 1.2em;
            width: auto;
            margin: 1% 5%;
            font-weight: 700;
            color: rgb(194, 194, 194);
            cursor: pointer;
        }


    </style>



</head>
<body>
    <div id="container" class="container">
        <h1 id="pageHeading"> PROFILE </h1>
        
        <div class="tabs">
            <button id="overTab" class="tab active">Overview</button>
            <button id="detailsTab" class="tab">Details</button>
            <button id="activityTab" class="tab">Activity</button>
            <button id="documentsTab" class="tab">Documents</button>
            <button id="helpTab" class="tab">Help</button>
        </div>

        
        <div id="dataList"></div>

        <div class="spinner" id="spinner" style="display: none;"></div>

    </div>

<script>

        const dataList = document.getElementById('dataList');

        const tabs = document.querySelectorAll('.tab');
        const overTb = document.getElementById('overTab');
        const detTb = document.getElementById('detailsTab');
        const actTb = document.getElementById('activityTab');
        const docTb = document.getElementById('documentsTab');
        const helpTb = document.getElementById('helpTab');

        let overData = {};
        let userData = {};
        let details = [];
        let appsHis = [];
        let intsHis = [];
        let testsHis = [];
        let charts = {};

        let PPUrl = '';


        function fetchData(tab = 'tests') {
            showSpinner();
            const url = `/laa/company/profiledata`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data == null) {
                        dataList.innerHTML = `
                            <div class="no-data">
                                Failed to get profile data. Try again later!
                            </div>
                        `;
                        return;
                    } else {
                        const {OverData, UsersData, ProData, AppsHistory, IntsHistory, TestsHistory, SankeyChrt} = data;
                        overData = OverData != null ? OverData : null;
                        userData = UsersData != null ? UsersData : null;
                        details = ProData != null ? ProData : null;
                        // appsHis = AppsHistory != null ? AppsHistory : null;
                        // intsHis = IntsHistory != null ? IntsHistory : null;
                        // testsHis = TestsHistory != null ? TestsHistory : null;
                        charts = SankeyChrt != null ? SankeyChrt : null;
                        setOverview();
                    }

                })
                .catch(error => {
                    console.error('Error fetching data:' + error)
                });
        }

        function fetchFile(type = 'profilepic') {

            const url = `/laa/company/getcompanyfile?type=${type}`;
            return fetch(url)
                .then(response => {
                    return response.blob();
                })
                .catch(error => {
                    console.error('Error fetching data: ' + error)
                });
        }

        function setPP() {
            if (!PPUrl) {
                fetchFile()
                .then(img => {
                    const imgurl = URL.createObjectURL(img);
                    PPUrl = imgurl;
                    document.getElementById('ProfileImage').src = PPUrl;
                    hideSpinner();
                });
            } else {
                document.getElementById('ProfileImage').src = PPUrl;
            }
        }
        
        function setChart() {
            charts.forEach(chrt => {
                dataList.innerHTML += `
                    <div class="card">
                        <div class="graph-item" id="${chrt.title.text}"></div>
                    </div>
                `;
                setTimeout(() => {
                    let goecharts_PtBfKrydoHIY = echarts.init(document.getElementById(chrt.title.text), "white", { renderer: "canvas" });
                    let option_PtBfKrydoHIY = {"color":chrt.Colors,"legend":{},"series":chrt.MultiSeries,"title":chrt.title,"toolbox":chrt.toolbox,"tooltip":chrt.tooltip}
                    goecharts_PtBfKrydoHIY.setOption(option_PtBfKrydoHIY);
                    goecharts_PtBfKrydoHIY.on('finished', () => {
                        const lnk = goecharts_PtBfKrydoHIY.getDataURL({
                            type: 'png',
                            pixelRatio: 3,
                            backgroundColor: '#fff'
                        });
                    });
                }, 1000);
            });

        }

        let cards = ``;
        function setOverview() {
            dataList.innerHTML = ``;

            cards = `
                <div id="details" class="card">
                    <div class="topcard">
                        <img id="ProfileImage">
                    </div>
                    <div class="topcard">
                        <label class="title">${details.CompanyName}</label>
                    </div>
                </div>
            `;
            
            if (true) {
                // let ac = overData.TotalApps;
                // let urc = overData.ReviewedCount;
                // let slc = overData.ShortlistedCount;
                // let rc = overData.RejectedCount;
                // let oc = overData.OfferedCount;
                // let hc = overData.HiredCount;

                // if (hc > 0) {
                //     cards += `
                //     <div id="details" class="card">
                //         <div class="topcard">
                //             <label class="title">Hired ${hc} out of ${ac} applicants.</label>
                //         </div>
                //     </div>
                //     `;
                // } else if (oc > 0 && hc == 0) {
                //     cards += `
                //     <div id="details" class="card">
                //         <div class="topcard">
                //             <label class="title">Offered ${oc} out of ${ac} applicants.</label>
                //         </div>
                //     </div>
                //     `;
                // } else if (slc > 0 && oc == 0 && hc == 0) {
                //     cards += `
                //     <div id="details" class="card">
                //         <div class="topcard">
                //             <label class="title">Shortlisted ${slc} out of ${ac} applicants.</label>
                //         </div>
                //     </div>
                //     `;
                // } else if (urc > 0 && slc == 0 && oc == 0 && hc == 0) {
                //     cards += `
                //     <div id="details" class="card">
                //         <div class="topcard">
                //             <label class="title">Reviewed ${urc} out of ${ac} applicants.</label>
                //         </div>
                //     </div>
                //     `;
                // } else if (ac > 0 && urc == 0 && slc == 0 && oc == 0 && hc == 0) {
                //     cards += `
                //     <div id="details" class="card">
                //         <div class="topcard">
                //             <label class="title">${ac} applicants have applied.</label>
                //         </div>
                //     </div>
                //     `;
                // }
            
                dataList.innerHTML += cards;
                cards = ``;
                setChart();
            } else {
                cards += `
                    <div id="details" class="card">
                        <div class="no-data">
                            <label><a href="/laa/company/newjob">List New Jobs/a> to see Insights</label>
                        </div>
                    </div>
                `;
            }

            cards += `
                <div id="details" class="card">
                    <div class="overview">
                        <label><strong>Created On:</strong></label>
                        <span>${userData.CreatedAt}</span>
                    </div>
                    <div class="overview">
                        <label><strong>Account Confirmed:</strong></label>
                        <span>${userData.Confirmed != true ? 'False' : 'True'}</span>
                    </div>
                    <div class="overview">
                        <label><strong>Account Verified:</strong></label>
                        <span>${userData.IsVerified != true ? 'False' : 'True'}</span>
                    </div>
                </div>
            `;
            dataList.innerHTML += cards;

            setPP();
        }

        function setDetails() {
            dataList.innerHTML = ``;
            dataList.innerHTML = `
                <div id="editables" class="card">
                    <div class="details profile">
                        <label><strong>Course:</strong> ${details.CompanyName}</label>
                        <label><strong>Department:</strong> ${details.Description}</label>
                        <label><strong>Year Of Study:</strong> ${details.Address}</label>
                        <label><strong>CGPA:</strong> ${details.Industry}</label>
                        <label><strong>CGPA:</strong> ${details.Website}</label>
                        <label><strong>Contact Number:</strong> ${details.RepresentativeName}</label>
                        <label><strong>Address:</strong> ${details.RepresentativeEmail}</label>
                        <label><strong>Skills:</strong> ${details.RepresentativeContact}</label>
                    </div>

                <div class="right-btn">
                    <button onclick="editDetails()" class="btn">Edit</button>
                </div>
                </div>

            `;
       
        }

        function editDetails() {
            const editables = document.getElementById("editables");
            editables.innerHTML = `
                <form id="newDetailsForm">
                    <div class="details profile">
                        <label for="CompanyName"><strong>Company Name</strong></label>
                        <input type="text" id="CompanyName" name="CompanyName" value="${details.CompanyName}" required> 

                        <label for="CompanyDescription"><strong>Company Description</strong></label>
                        <textarea type="text" id="CompanyDescription" name="CompanyDescription" value="${details.Description}"></textarea> 

                        <label for="CompanyAddress"><strong>Company Address</strong></label>
                        <input type="text" id="CompanyAddress" name="CompanyAddress" value="${details.Address}" required> 

                        <label for="IndustryType"><strong>IndustryType</strong></label>
                        <input type="text" id="IndustryType" name="IndustryType" value="${details.Industry}" required> 

                        <label for="CompanyWebsite"><strong>Company Website (https://abc.xyz)</strong></label>
                        <input type="url" id="CompanyWebsite" name="CompanyWebsite" value="${details.Website}" required> 

                        <label for="RepresentativeName"><strong>Representative Name</strong></label>
                        <input type="text" id="RepresentativeName" name="RepresentativeName" value="${details.RepresentativeName}" required> 
                        <label for="RepresentativeEmail"><strong>Representative Email</strong></label>
                        <input type="email" id="RepresentativeEmail" name="RepresentativeEmail" value="${details.RepresentativeEmail}" required>
                        <label for="RepresentativeContact"><strong>Representative Contact</strong></label>
                        <input type="text" id="RepresentativeContact" name="RepresentativeContact" value="${details.RepresentativeContact}" required>
                    </div>
                </form>
                <div class="right-btn">
                    <button onclick="setDetails()" class="btn">Cancel</button>
                    <button onclick="submitNewDetails()" class="btn">Update</button>
                </div>
            `;
            document.getElementById("CompanyDescription").value = details.Description;
        }

        function setActivity() {
            dataList.innerHTML = ``;
            let cards = `
                <div id="details" class="card">
                    <div class="activity">
            `;
            if (appsHis != null) {
                appsHis.forEach(elem => {
                    cards += `
                            <p><strong>${elem.CreatedAt}: ${elem.ApplicationID}: </strong>Applied to : <strong>${elem.Title}</strong> at <strong>${elem.CompanyName}</strong></p>
                    `;
                });
            }
            else {
                cards += `
                    <div class="no-data">
                        <label>No Applications activity.</a>
                    </div>
                `;
            }
            cards += ` 
                    </div>
                </div>

                <div id="details" class="card">
                    <div class="activity">
            `;
            if (intsHis != null) {
                intsHis.forEach(elem => {
                    cards += `
                            <p><strong>${elem.CreatedAt}: ${elem.InterviewID}: </strong>Interview scheduled for : <strong>${elem.Title}</strong></p>
                    `;
                });
            }
            else {
                cards += `
                    <div class="no-data">
                        <label>No Interviews activity.</a>
                    </div>
                `;
            }
            cards += ` 
                    </div>
                </div>

                <div id="details" class="card">
                    <div class="activity">
            `;
            if (testsHis != null) {
                testsHis.forEach(elem => {
                    cards += `
                            <p><strong>${elem.StartTime}: ${elem.TestID}: </strong>Test started : <strong>${elem.TestName}</strong></p>
                    `;
                });
            }
            else {
                cards += `
                    <div class="no-data">
                        <label>No Tests activity.</a>
                    </div>
                `;
            }
            cards += ` 
                    </div>
                </div>
            `;
            dataList.innerHTML += cards;
        }

        function setDocuments() {
            dataList.innerHTML = ``;

            let cards = `
                    <div id="details" class="card">
                        <div class="right-btn">
                            <button onclick="editDocuments()" class="btn">Edit</button>
                        </div>
                        <div class="documents">
                            <label><strong>Profile Picture:</strong></label>
                            <button onclick="openFile('profilepic')" class="btn">Download</button>
                        </div>
                    </div>
                `;
            
            dataList.innerHTML += cards;
        }

        function editDocuments() {

            dataList.innerHTML = ``;

            let cards = `
                    <div id="details" class="card">
                        <div class="right-btn">
                            <button onclick="setDocuments()" class="btn">Cancel</button>
                        </div>
                        <div class="documents">
                            <label><strong>Profile Picture:</strong></label>
                            <button onclick="openFile('profilepic')" class="btn">Download</button>
                        </div>
                        <div class="documents">
                            <input class="file-update" id="ProfilePic" type="file"  name="ProfilePic">
                            <button onclick="updateFile('ProfilePic')" class="btn">Upload</button>
                        </div>
                    </div>
                `;
            
            dataList.innerHTML += cards;
        }

        function setHelp() {
            dataList.innerHTML = ``;
            dataList.innerHTML = `
                <div id="details" class="card">

                    <div class="topcard">
                        <label class="title">Have a Problem ?</label>
                    </div>
                    <div class="topcard">
                        <label class="title">Describe it here or Email to us at : pmssuperuser@gmail.com</label>
                    </div>

                    <div class="topcard" style="height:400px;">
                        <textarea class="report-textarea" type="text" id="Report" name="Report"></textarea>
                    </div>

                    <div class="right-btn">
                        <button onclick="sendReport()" class="btn">Report</button>
                    </div>
                </div>
            `;
       
        }



        overTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            overTb.classList.add('active');
            setOverview();
        });
        detTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            detTb.classList.add('active');
            setDetails();
        });
        actTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            actTb.classList.add('active');
            setActivity();
        });
        docTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            docTb.classList.add('active');
            setDocuments();
        });
        helpTb.addEventListener('click', () => {
            tabs.forEach(t => t.classList.remove('active'));
            helpTb.classList.add('active');
            setHelp();
        });

        function showSpinner() {
            document.getElementById('spinner').style.display = 'block'; 
        }
        function hideSpinner() {
            document.getElementById('spinner').style.display = 'none'; 
        }

        
        function submitNewDetails() {
            showSpinner();

            const url = `/laa/company/updatedetails`;

            const details = document.getElementById("newDetailsForm");
            const form = new FormData(details);

            fetch(url, {
                method: 'POST',
                body: form
            })
            .then(response => {
                if (response.ok) {
                    hideSpinner();
                    window.location.reload();
                } else {
                    console.log("something went wrong");
                }
            })  
            .catch(error => {
                console.log(error);
            })
        }

        function openFile(type) {
            fetchFile(type)
            .then(file => {
                const fileURL = window.URL.createObjectURL(file);
                window.open(fileURL, '_blank');
            })
        }

        function updateFile(type) {
            const file = document.getElementById(type).files[0];
            const formFile = new FormData();
            formFile.append(type, file);

            const url = `/laa/company/updatefile?type=${type}`;

            fetch(url, {
                method: 'POST',
                body: formFile
            })
            .then((response) => {
                if (!response.ok) {
                    return response.json();
                }
                alert('Updated file successfully');
            })
            .then((data) => {
                alert("Error : " + data.Type + "\nMessage : " + data.Message);
            })
            .catch(error => {
                console.log(error);
            });

        }

        function sendReport() {
            const report = document.getElementById('Report').value;

            if (report.length <= 25) {
                alert("Report of atleast 25 characters is required. \nCurrent length : " + report.length);
                return;
            }
            showSpinner();
            const url = `/laa/report`;

            const form = new FormData();
            form.append("Message", report);

            fetch(url, {
                method: 'POST',
                body: form,
            })
            .then((response) => {
                hideSpinner();
                if (response.ok) {
                    alert("Report sent successfully");
                }
            })
            .catch((error) => {
                console.log(error);
            });
        }
       
        function dwnldChrt() {
            
        }

        fetchData();
</script>
</body>
</html>
