<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job Posting Form</title>

    <link rel="stylesheet" href="/static/styles/company.css">

</head>
<body class="form-body">
    

    <div class="form-container">
        <div class="form-header">
            <h1>Post a New Job</h1>
        </div>

        <form id="mainForm" onsubmit="submitForm(event)">

            <div class="form-section">
                <label for="JobTitle">Job Title</label>
                <input type="text" id="JobTitle" name="JobTitle" required placeholder="Enter job title">
            </div>

            <div class="form-section">
                <label for="JobLocation">Job Location</label>
                <input type="text" id="JobLocation" name="JobLocation" required placeholder="Enter company location">
            </div>

            <div class="form-section">
                <label for="JobDescription">Job Description</label>
                <textarea id="JobDescription" name="JobDescription" required placeholder="Enter job description"></textarea>
            </div>

            <div class="form-section">
                <label for="JobType">Job Type</label>
                <select id="JobType" name="JobType" required>
                    <option value="">Select job type</option>
                    <option value="Full-time">Full-time</option>
                    <option value="Part-time">Part-time</option>
                    <option value="Internship">Internship</option>
                    <option value="Contract">Contract</option>
                </select>
            </div>

            <div class="form-section">
                <label for="JobSalary">Salary Range</label>
                <input type="text" id="JobSalary" name="JobSalary" required placeholder="Enter salary range">
            </div>

            <div class="form-section">
                <label for="SkillsRequired">Skills Required</label>
                <input type="text" id="SkillsRequired" name="SkillsRequired" required placeholder="Enter required skills. Separate each skill by a comma.">
            </div>

            <div class="form-section">
                <label for="JobPosition">Job Position</label>
                <input type="text" id="JobPosition" name="JobPosition" required placeholder="Enter job position">
            </div>

            <div class="form-section">
                <label for="ExperienceLevel">Experience Level</label>
                <select id="ExperienceLevel" name="ExperienceLevel" required>
                    <option value="">Select experience level</option>
                    <option value="Fresher">Fresher</option>
                    <option value="Junior">Junior</option>
                    <option value="Mid-Level">Mid-Level</option>
                    <option value="Senior">Senior</option>
                </select>
            </div>

            <div class="form-section">
                <label for="RemoteAvailability">Remote Availability</label>
                <select id="RemoteAvailability" name="RemoteAvailability" required>
                    <option value="">Select remote availability</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-btn-container">
                <button type="submit" class="form-btn">Submit Job Posting</button>
            </div>
        </form>
    </div>

    <div class="spinner" id="spinner" style="display: none;">
    </div>

    <script src="/static/scripts/company.js"></script>


<script>

    function submitForm() {
        event.preventDefault();
        document.getElementById('spinner').style.display = 'block'; 

        const url = `/laa/company/newjobpost`;

        const formData = document.getElementById('mainForm');
        const form = new FormData(formData);

        fetch(url, {
            method: 'POST',
            body: form,
        })
            .then(response => {
                document.getElementById('spinner').style.display = 'none'; 
                if (!response.ok) {
                    alert("Failed to create job post. Try again.");
                } else {
                    alert("Job posted successfully");
                    window.location.href = "/laa/company/dashboard";
                }
            })
            .catch(error => {
                console.log(error);
            });
    }


</script>
</body>
</html>
