<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Test</title>
    <link rel="stylesheet" href="/static/styles/company.css">
    
</head>
<body class="form-body">

    <div id="metadata" class="form-container">
        <div class="form-header">
            <h1>Create New Test</h1>
        </div>

        <form id="newTestForm" onsubmit="uploadQuestions(UploadMethod.value, event)">
            <div class="form-section">
                <label for="Name">Test Name</label>
                <input type="text" id="Name" name="Name" placeholder="Enter test name" required>
            </div>

            <div class="form-section">
                <label for="Description">Description</label>
                <textarea id="Description" name="Description" placeholder="Brief description of the test" rows="4" required></textarea>
            </div>

            <div class="form-section">
                <label for="Duration">Test Duration (in minutes)</label>
                <input type="number" id="Duration" name="Duration" placeholder="Enter duration" required>
            </div>

            <div class="form-section">
                <label for="QuestionCount">Number of Questions</label>
                <input type="number" id="QuestionCount" name="QuestionCount" placeholder="Enter total questions" required>
            </div>

            <div class="form-section">
                <label for="Threshold">Cutoff Percentage (as percentage of total marks, this can be changed later)</label>
                <input type="number" id="Threshold" name="Threshold" placeholder="Enter minimum percentage of total marks to pass." required>                
            </div>

            <div class="form-section">
                <label for="EndDateTime">End Date Time</label>
                <input type="datetime-local" id="EndDateTime" name="EndDateTime" placeholder="Enter the date and time to end the test" required>
            </div>

            <div class="form-section">
                <label for="BindedJobId">Bind to Job</label>
                <select id="BindedJobId" name="BindedJobId" required>
                    <option value="" disabled selected >Select the Job to bind Test to</option>
                    {{range .JobIDToBind}}
                        <option value="{{.JobID}}">{{.JobID}} : {{.Title}} : {{.Position}}</option>
                    {{end}}
                </select>
            </div>

            <div class="form-section">
                <label for="Type">Test Type</label>
                <select id="Type" name="Type" required>
                    <option value="Aptitude">Aptitude</option>
                    <option value="Technical">Technical</option>
                    <option value="Coding">Coding</option>
                    <option value="Other">Others</option>
                </select>
            </div>

            <div class="form-section">
                <label for="UploadMethod">Choose Upload Method</label>
                <select id="UploadMethod" name="UploadMethod" required>
                    <option value="GForms">Google Forms (Recommended for now !)</option>
                    <option value="CSVJSON">#Upload CSV/JSON File</option>
                    <option value="Manual">#Enter Questions Manually</option>
                </select>
            </div>

            <div class="form-btn-container">
                <button class="form-btn" type="submit">Create Test</button>
            </div>
        </form>
    </div>


    <div id="googleforms" class="form-container" style="display: none;" >
        <div class="form-section">
            <div class="form-header">
                <h1>Google Form Integration</h1>
            </div>
            <div class="form-section">
                <div class="form-instructions">
                    <label>Instructions: </label>
                    <ul class="form-section">
                        <li>    The system does not support multiple sections as of now, it renders the test as empty. However it will be updated in further revisions.</li>
                        <li>Make sure to have the following options ticked in the settings of the form :
                            <br>    1) Make this a quiz
                            <br>    2) Release Marks > Later
                            <br>    3) Point Values
                            <br>    4) Responses > Collect email addresses > Verified 
                        </li>
                        <li>For insights, analytics and automatic results, grant access of the form to the admin:
                            <br>    Steps: 
                            <br>        1) Share
                            <br>        2) Collaborators
                            <br>        3) Add this email : <strong>{{.NewTestGoogleFormsCollaboratorEmail}}</strong>
                            <br>        4) Set Role as <strong> Editor </strong>
                            <br>        5) Send
                        </li>
                        <li>Copy the public respondents link of the Google Form and paste it in the input field below for students.</li>
                        <li>Make sure to <strong>Publish</strong> and <strong>Close</strong> the form at the right time.</li>
                        
                    </ul>
                </div>
            </div>

            <form id="gFormsForm" onsubmit="gformPost(event)">
                <div class="form-section">
                    <label for="ResponderLink">Paste Google Form Link</label>
                    <input type="url" id="ResponderLink" name="ResponderLink" placeholder="https://forms.google.com/example" required>

                    <label for="Notes">Additional Notes or Instructions</label>
                    <input type="text" id="Notes" name="Notes" placeholder="Any specific details about the test (optional)"></input>
                </div>
                <div class="form-btn-container">
                    <button class="form-btn" type="button" onclick="back()"> < Back</button>
                    <button class="form-btn" type="submit" >Create Test</button>
                </div>
            </form>
        </div>


    </div>



    <div id="csvjsonupload" class="form-container" style="display: none;">
        <div class="form-section">
            <div class="form-header">
                <h1>Upload CSV/JSON</h1>
            </div>
            <div class="form-section">
                <div class="form-instructions">
                    <label>Instructions: </label>
                    <ul class="form-section">
                        <li>Under Progess ! See You Later !</li>
                </div>
            </div>

            <form id="csvjsonForm">
                
            </form>
        </div>

        <div class="form-btn-container">
            <button class="form-btn"  onclick="back()"> < Back</button>
            <button class="form-btn" type="submit" onclick="uploadQuestions(uploadMethod.value)">Create Test</button>
        </div>
    </div>


    <div id="manualques" class="form-container" style="display: none;">
        <div class="form-section">
            <div class="form-header">
                <h1>Manually Add Questions</h1>
            </div>
            <div class="form-section">
                <div class="form-instructions">
                    <label>Instructions: </label>
                    <ul class="form-section">
                        <li>Under Progess ! See You Later !</li>
                    </ul>
                </div>
            </div>

            <form id="manualForm">
                
            </form>
        </div>
            
        <div class="form-btn-container">
            <button class="form-btn"  onclick="back()"> < Back</button>
            <button class="form-btn" type="submit" onclick="uploadQuestions(uploadMethod.value)">Create Test</button>
        </div>
    </div>

    <div id="toast"></div>

    <script src="/static/scripts/company.js"></script>

    <script>

        function showToast(message, type, timeout = 3000) {
            const toast = document.getElementById("toast");
            toast.innerText = message;
            toast.className = `toast show ${type}`;
            if (timeout != 0) {
                setTimeout(() => {
                    toast.className = toast.className.replace("show", "");
                }, timeout);
            }
        }

        function closeToast() {
            const toast = document.getElementById("toast");
            toast.className = toast.className.replace("show", "");
        }

        function combineForms(form1, form2) {

            const elem1 = document.getElementById(form1);
            const elem2 = document.getElementById(form2);

            const combined = new FormData(elem1);
            const toAdd = new FormData(elem2);
   
            toAdd.forEach((value, key) => {
                combined.append(key, value);
            });

            return combined;
        }

        function gformPost(event) {
            event.preventDefault();
            // show loading toast
            showToast("Creating new Test...", "loading", 0);
            // combine the metadata and gforms forms
            const formData = combineForms('newTestForm', 'gFormsForm');
            // POST
            fetch('/laa/company/newtestpost', {
                method: 'POST',
                body: formData
            })
            .then((response) => {
                closeToast();
                if (response.ok) {
                    // show toast or pop-up
                    alert('New Test Created Successfully.');
                    window.location.href = `/laa/company/dashboard`;
                } else {
                    // show error
                    response.json().then(error => {
                        alert('Error: ' + error.Message + '\nCode: ' + error.Type);
                    });
                }
            })
            .catch(error => {
                // show error toast
                console.log(error);
            });
        }

        // TODO: 
        function csvjsonPost(event) {
            event.preventDefault();

            const formData = combineForms('newTestForm', 'csvjsonForm');

            fetch('/laa/company/newtestpost', {
                method: 'POST',
                body: formData
            })
            .then((response) => {
                if (response.ok) {
                    // show toast or pop-up
                } else {
                    // show error
                }
            })
            .catch(error => {
                // show error toast
            });
        }
        // TODO:
        function manualFormPost(event) {
            event.preventDefault();

            const formData = combineForms('newTestForm', 'manualForm');

            fetch('/laa/company/newtestpost', {
                method: 'POST',
                body: formData
            })
            .then((response) => {
                if (response.ok) {
                    // show toast or pop-up
                } else {
                    // show error
                }
            })
            .catch(error => {
                // show error toast
            });
        }

        function uploadQuestions(method, event) {

            event.preventDefault();

            if (method === 'GForms') {
                document.getElementById('googleforms').style.display = 'block';
            } else if (method === 'CSVJSON') {
                document.getElementById('csvjsonupload').style.display = 'block';
            } else if (method === 'Manual') {
                document.getElementById('manualques').style.display = 'block';
            } else {
                return;
            }
            document.getElementById('metadata').style.display = 'none';
        }

        function back() {
            document.getElementById('googleforms').style.display = 'none';
            document.getElementById('csvjsonupload').style.display = 'none';
            document.getElementById('manualques').style.display = 'none';

            document.getElementById('metadata').style.display = 'block';
        }

        document.getElementById('metadata').style.display = 'block';
    </script>
</body>
</html>
