body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    color: #333;
}

.container {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
}

.r-container {
    position: fixed;
    right: 0;
    top: 0;
    display:none;
    width: 12.5%;
    height: 100vh;
    margin-right: 5px;
    padding-top: 15px;
    padding-left: 15px;
    
} 
.l-container {
    position: fixed;
    left: 0;
    top: 0;
    display:none;
    width: 12.5%;
    height: 100vh;
    margin-left: 5px;
    padding-top: 15px;
    padding-left: 15px;

}

h1 {
    text-align: center;
    color: #6C63FF;
    margin-bottom: 5px;
    margin-top: 5px;

}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20PX;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card .upload-section {
    display: none;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    animation: slideDown 0.3s ease-in-out;
}

.title {
    font-size: 1.2em;
    color: #6C63FF;
    margin-bottom: 4px;
}

.company {
    font-size: 1.0em;
    color: #333;
    margin-bottom: 4px;
}

.details {
    display:grid; 
    grid-template-columns: repeat(2, 1fr); 
    font-size: 0.9em;
    color: #555;
    column-gap: 15px;
}
.details label {
    margin: 3px 0; 
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details label:hover {
    white-space: normal;
    overflow: visible;  
    text-overflow: unset;
}

.details p {
    margin: 3px 0; 
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details input,
.details textarea,
.details select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 8px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.activity {
    font-size: 14px;
    color: #555;
    max-height: 80%;
    overflow-y: scroll;
}
.activity p {
    margin: 4px auto;
}




.right-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.left-btn {
    display: flex;
}
.btn {
    margin-top: 4px;
    margin-bottom: 1px;


    background: #6C63FF;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn:hover {
    background: #8E94F2;
}



.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.filterbar {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.searchbar input {
    margin-left: auto;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.no-filters {
    justify-content: flex-end;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        gap: 10px;
    }

    .filters select {
        width: 100%;
    }
}


.no-data {
    display:relative;
    top:50%; 
    text-align: center;
    font-size: 0.8em;
    color: #555;
}


.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 6px solid #f3f3f3;  
    border-top: 6px solid #6C63FF;  
    border-radius: 50%;        
    width: 60px;                
    height: 60px;               
    animation: spin 2s linear infinite; 
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.paging {
    position:static;
    bottom: 2%;
    width: 100%;
}
.nav-btn {
    visibility:hidden;
    position:relative;
    background: #6C63FF;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.prev-btn {
    left: 50%;
    transform: translateX(-100%); 
}
.next-btn {
    left: 50%;
    transform: translateX(-100%); 
}


.tabs {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.tab:hover {
    background-color: #e0e0e0;
}
.tab.active {
    border-bottom: 3px solid #6C63FF;
    color: #6C63FF;
}


.overview {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #535252;
    margin-bottom: 4px;
}
.overview label {
    flex:1;
    text-align: left;
}
.overview span {
    flex: 3;
    text-align: left;
}


#ProfileImage {
    max-width:250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-bottom: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.topcard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
.topcard p {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 20px;
}
.topcard label {
    margin-bottom: 2px;
}

.documents {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #535252;
    margin-bottom: 0px;
    margin-top: 5px;
}
.documents label {
    flex:1;
    text-align: left;
    align-content: center;
}

.file-update {
    flex: 1;
    padding: 4px;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #eae8e8;
    box-sizing: border-box;
}
.report-textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none; 
    border: 2px solid #000000;  
    background-color: #eae8e8;
    font-size: 18px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.semi-modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 30px;

}
.semi-button {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px; 
}




.form-header {
    text-align: center;
    margin-bottom: 30px;
    color: #532ff3;
    font-weight:normal;
}

.form-header h1 {
    color: #532ff3;
    font-weight: bold;
}

.form-section {
    margin-bottom: 20px;
}

.form-section label {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    color: #6C63FF;
}
.form-section li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ff0000;
    list-style:disc;
}
.form-instructions label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ff0000;
    list-style:disc;
}

.form-section input,
.form-section textarea,
.form-section select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 8px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.form-section textarea {
    height: 150px;
}

.form-section select {
    height: 40px;
}

.form-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    background: #6C63FF;
    color: #fff;
    font-size: 14px;
    font-weight:500;
    border: none;
    border-radius: 5px;
    padding: 12px 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative; 
    justify-content: center;
    align-items: center;
}

.form-btn:hover {
    background: #8E94F2;
}

.toast {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position:fixed;
    z-index: 1;
    right: 5%;
    bottom: 5%;
    font-size:smaller;
}
.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.toast.green {
    background-color: #4CAF50;
}
.toast.red {
    background-color: #f44336;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5%; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 5%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}