<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard - PMS</title>
    <link rel="stylesheet" href="/static/styles/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div class="sidebar">
        <h4>PMS Dashboard</h4>
        <a href="/laa/student/dashboard" class="nav-item active">Dashboard</a>
        <a href="/laa/student/profile" class="nav-item">My Profile</a>
        <a href="/laa/student/jobslist" class="nav-item">Apply for Jobs</a>
        <a href="/laa/student/myappsstatic" class="nav-item">My Applications</a>
        <a href="/laa/student/upcoming" class="nav-item">Upcoming</a>
        <a href="/laa/student/completed" class="nav-item">Completed</a>
        <a href="javascript:void(0);" onclick="getNewNotifications()" class="nav-item">Notifications</a>

        <a href="/laa/student/feedbacks" class="nav-item">Feedbacks</a>

        <a href="/laa/open/discussions" class="nav-item">Discuss</a>



        <a href="#" class="nav-item">Settings</a>
        <a href="/public/logout" class="nav-item">Logout</a>
    </div>

    <div class="main-content">

        <header class="dashboard-header">
            <div class="header-left">
                <h2 id="welcomeTitle">-nil-</h2>
            </div>
            
            <div class="header-right">
                <i class="notification-icon fas fa-bell" onclick="getNewNotifications()"></i>
                <a href="/laa/company/profile">
                    <img width="20" height="20" src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg?semt=ais_hybrid" alt="Profile">
                </a>
            </div>
        </header>

        <div class="notification-panel" id="notificationPanel">
            <div class="notification-header">
              <h3>Notifications</h3>
              <button class="close-btn" onclick="toggleNotification()">X</button>
            </div>
            <div id="notifs-body" class="notification-body">
            </div>
        </div>
        <div class="dashboard-stats">
            <div class="stat-card">
                <h3>Active Applications</h3>
                <p id="activeAppsCount">-nil-</p>
            </div>
            <div class="stat-card">
                <h3>Total Applications</h3>
                <p id="totalApplicantsCount">-nil-</p>
            </div>
            <div class="stat-card">
                <h3>Interviews Scheduled</h3>
                <p id="interviewsCount">-nil-</p>
            </div>
            <div class="stat-card">
                <h3>Placements Made</h3>
                <p>-nil</p>
            </div>
        </div>

    </div>

    <script src="/static/scripts/dashboard.js"></script>


    <script>

        const notifPanel = document.getElementById('notificationPanel'); 
        const notifsBody = document.getElementById('notifs-body');
        let notifs = [];
        
        function timeAgo(timestamp) {
            let a = new Date(timestamp * 1000);
            let timeString = a.toLocaleString('en-US', { 
                year: 'numeric', month: 'short', day: '2-digit', 
                hour: 'numeric', minute: '2-digit', hour12: true 
            });

            return timeString;
        }

        let notifsStart = 0;
        let notifsEnd = 0;
        function getNewNotifications() {
            toggleNotification();

            const url = `/laa/student/notifications?start=${notifsStart}&end=${notifsEnd}`;

            fetch(url)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return;
                }
            })
            .then(data => {
                setNotifs(data);
            })
            .catch(error => {
                console.log(error);
            });
        }

        function setNotifs(data) {
            if (data == null) {
                return;
            }
            notifs.push(...data);
            notifsBody.innerHTML = ``;
            notifs.forEach(notif => {
                notifsBody.innerHTML += `
                    <div class="notification-item">
                        <div class="notif">
                            <span class="notif-title">${notif.ReadStatus ? '' : '<span class="unread-dot"></span>'}${notif.Title}</span>
                            <span class="notif-time">${timeAgo(notif.Timestamp)}</span>
                        </div>
                        <p class="notif-description">${notif.Description}</p>
                    </div>
                `;
                notifsStart += 1;
            });
        }

        function toggleNotification() {
            notifPanel.classList.toggle('active');
        }

    </script>
    
    <script>

        const welTitle = document.getElementById('welcomeTitle');

        const apCount = document.getElementById('activeAppsCount');

        function data() {
            const url = `/laa/student/dashboarddata`;

            fetch(url)
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.log(response.status);
                    return;
                }
            })
            .then(data => {
                console.log(data);
                welTitle.innerHTML = `${data.StudentName}`;
                apCount.innerHTML = `${data.ApplicationsCount}`;
            })
            .catch((error) => {
                console.log(error);
            });
        }




        data();
    </script>

</body>

</html>
