<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS Dashboard</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        body {
            min-height: 100vh;
            background: linear-gradient(135deg, #5951f5, #abafea);
            color: #333;
            display: flex;
        }

        .main-content {
            flex: auto;
            width:auto;
            height:auto;
        }

 
    </style>
</head>
<body>

    <iframe class="main-content" src="https://docs.google.com/forms/d/e/1FAIpQLSf8af4io_3Da3Pt9klqer8ZM2ycwQZHQ86vFh65tnkxwtODzA/viewform?embedded=true">Loading…</iframe>

</body>
</html>

